@model FrontEnd.Models.IncidentViewModelCreate

@{
    ViewData["Title"] = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container">
    <div class="d-flex justify-content-center h-100">
        <div class="card" style="width: 30rem">
            <div class="card-header">
                <div class="row">
                    <div class="col-12 text-center">
                        <h3>Agregar</h3>
                    </div>
                </div>

            </div>

            <div class="card-body">
                <form asp-action="Create">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <div class="form-group">
                        <label asp-for="Theme" class="control-label"></label>
                        <input asp-for="Theme" class="form-control" />
                        <span asp-validation-for="Theme" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Description" class="control-label">Descripción</label>
                        <input id="Description" asp-for="Description" class="form-control" />
                        <span asp-validation-for="Description" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Priority" class="control-label">Prioridad</label>
                        @Html.DropDownList("Priority", (SelectList)ViewBag.Description, "Seleccione uno", new { @class = "form-control", @style = "width:100%;" })
                        <span asp-validation-for="Priority" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Category" class="control-label">Categoria</label>
                        @Html.DropDownList("Category", (SelectList)ViewBag.CategoryName, "Seleccione uno", new { @class = "form-control", @style = "width:100%;" })
                        <span asp-validation-for="Category" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <center>
                            <input type="submit" value="Crear" class="btn btn-primary" />
                            <a href="~/Incident/Index" class="btn btn-danger" style=" width:20%">Regresar</a>
                        </center>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    <script src="https://cdn.jsdelivr.net/npm/sceditor@3/minified/formats/xhtml.min.js"></script>
    <script>
        // Replace the textarea #example with SCEditor
        var textarea = document.getElementById('Description');
        sceditor.create(textarea, {
            format: 'xhtml',
            style: 'https://cdn.jsdelivr.net/npm/sceditor@3/minified/themes/content/default.min.css',
            width: "100%",
            height: "500px"
        });
    </script>
}



<!------ AQUI INICIA EL CÓDIGO VIEJO ---------->
@*<h1>Create</h1>

    <h4>Incident</h4>
    <hr />
    <div class="row">
        <div class="col-md-4">
            <form asp-action="Create">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="form-group">
                    <label asp-for="Theme" class="control-label"></label>
                    <input asp-for="Theme" class="form-control" />
                    <span asp-validation-for="Theme" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Description" class="control-label"></label>
                    <input asp-for="Description" class="form-control" />
                    <span asp-validation-for="Description" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Priority" class="control-label"></label>
                    @Html.DropDownList("Priority", (SelectList)ViewBag.Description, "Seleccione uno", new { @class = "form-control", @style = "width:100%;" })
                    <span asp-validation-for="Priority" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Category" class="control-label"></label>
                    @Html.DropDownList("Category", (SelectList)ViewBag.CategoryName, "Seleccione uno", new { @class = "form-control", @style = "width:100%;" })
                    <span asp-validation-for="Category" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <input type="submit" value="Create" class="btn btn-primary" />
                </div>
            </form>
        </div>
    </div>

    <div>
        <a asp-action="Index">Back to List</a>
    </div>

    @section Scripts {
        @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    }
*@
<style>
    .btn-primary {
        color: #FCFCFF;
        background-color: #004aad;
        border-color: #1313A8;
    }

    .card-header {
        color: #FCFCFF;
        background-color: #004aad;
    }

    .card-body {
        color: #463f57;
    }

    .input-group-text {
        color: #FCFCFF;
        background-color: #004aad;
        border-color: #1313A8;
    }

    .input-group-prepend {
        margin-left: 15%
    }

    .submit {
        margin-left: 20%
    }
</style>