@model FrontEnd.Models.IncidentViewModelEdit

@{
    ViewData["Title"] = "Editar";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Editar</h1>

<h4>Incident</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Id" class="control-label"></label>
                <input asp-for="Id" class="form-control" readonly />
                <span asp-validation-for="Id" class="text-danger"></span>
            </div>
            @if (User.IsInRole("Administrador, Soportista"))
            {
                <div class="form-group">
                    <label asp-for="RequestById" class="control-label"></label>
                    <input asp-for="RequestById" class="form-control" readonly />
                    <span asp-validation-for="RequestById" class="text-danger"></span>
                </div>
            }

            <div class="form-group">
                <label asp-for="Category" class="control-label"></label>
                <input asp-for="Category" class="form-control" readonly />
                <span asp-validation-for="Category" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Theme" class="control-label"></label>
                <input asp-for="Theme" class="form-control" readonly />
                <span asp-validation-for="Theme" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Description" class="control-label"></label>
                <textarea asp-for="Description" class="form-control" readonly></textarea>
                <span asp-validation-for="Description" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Priority" class="control-label"></label>
                <input asp-for="Priority" class="form-control" readonly />
                <span asp-validation-for="Priority" class="text-danger"></span>
            </div>
            @if (User.IsInRole("Administrador") | User.IsInRole("Soportista"))
            {
                @*<div class="form-group">
                    <label asp-for="Status" class="control-label"></label>
                    @Html.DropDownList("Status", (SelectList)ViewBag.Description, "Seleccione uno", new { @class = "form-control", @style = "width:100%;" })
                    <span asp-validation-for="Status" class="text-danger"></span>
                </div>*@
            }
            else
            {
                <div class="form-group">
                    <label asp-for="Status" class="control-label"></label>
                    <input asp-for="Status" class="form-control" readonly />
                    <span asp-validation-for="Status" class="text-danger"></span>
                </div>

            }
            <div class="form-group">
                <label asp-for="Created" class="control-label"></label>
                <input asp-for="Created" class="form-control" readonly />
                <span asp-validation-for="Created" class="text-danger"></span>
            </div>
            @if (!Model.Resolved.Equals(null))
            {
                <div class="form-group">
                    <label asp-for="Resolved" class="control-label"></label>
                    <input asp-for="Resolved" class="form-control" readonly />
                    <span asp-validation-for="Resolved" class="text-danger"></span>
                </div>
            }
            <div class="form-group">
                <label asp-for="Attended" class="control-label"></label>
                <input asp-for="Attended" class="form-control" readonly />
                <span asp-validation-for="Attended" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
