
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
    string URLAgregar = Url.Action("Create", "Incident");
    string URLActualizar = Url.Action("Edit", "Incident");
    string URLSesiones = Url.Action("Index", "Sesion");
}

<div class="card shadow mb-4">
    <div class="card-header py-3 j-df j-color-text j-jc-center">
        <h2><i class="fas fa-building">&nbsp;&nbsp;</i> INCIDENTES</h2>
    </div>

    <div class="card-body">
        <div class="row my-4">

            <div class="col-sm-12">
                <a href="@URLAgregar" class="btn btn-primary">Agregar</a>

                <hr />

                <table class="table-bordered w-100" id="incidentesCreados">

                    <thead>

                        <tr>
                            <th>USUARIO</th>
                            <th>TEMA</th>
                            <th>PRIORIDAD</th>
                            <th>ESTATUS</th>
                            <th>CREADA</th>
                            <th>ACCIONES</th>
                        </tr>

                    </thead>

                    <tbody>
                        <tr>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

@section scripts{
    <script src="~/lib/datatable/js/jquery.dataTables.js"></script>
    <script src="~/lib/datatable/js/dataTables.bootstrap4.js"></script>
    <script src="~/lib/datatable-responsive/js/dataTables.responsive.min.js"></script>
    <script src="~/lib/datatable-responsive/js/responsive.bootstrap4.min.js"></script>
    <script src="~/lib/datatable/js/dataTables.buttons.min.js"></script>
    <link href="https://cdn.datatables.net/1.10.24/css/jquery.dataTables.min.css" rel="stylesheet" />

    <script>
        $(document).ready(function () {
            $("#incidentesCreados").DataTable().destroy();

            var urlMetodo = "/Incident/GetAllIndex";
            $("#incidentesCreados").DataTable({

                ajax: {
                    url: urlMetodo,
                    type: "GET",
                    datatype: "json"
                },
                responsive: true,
                language: {
                    "sProcessing": "Procesando...",
                    "sLengthMenu": "Mostrar _MENU_ registros",
                    "sZeroRecords": "No se encontraron resultados",
                    "sEmptyTable": "Ningún dato disponible en esta tabla",
                    "sInfo": "Mostrando registros del _START_ al _END_ de un total de _TOTAL_ registros",
                    "sInfoEmpty": "Mostrando registros del 0 al 0 de un total de 0 registros",
                    "sInfoFiltered": "(filtrado de un total de _MAX_ registros)",
                    "sInfoPostFix": "",
                    "sSearch": "Buscar:",
                    "sUrl": "",
                    "sInfoThousands": ",",
                    "sLoadingRecords": "Cargando...",
                    "oPaginate": {
                        "sFirst": "Primero",
                        "sLast": "Último",
                        "sNext": "Siguiente",
                        "sPrevious": "Anterior"
                    },
                    "oAria": {
                        "sSortAscending": ": Activar para ordenar la columna de manera ascendente",
                        "sSortDescending": ": Activar para ordenar la columna de manera descendente"
                    }
                },
                columns: [
                    { data: "user", autoWidth: false, className: "no-wrap text-center" },
                    { data: "theme", autoWidth: false, className: "no-wrap text-center" },
                    { data: "priority", autoWidth: false, className: "no-wrap text-center" },
                    { data: "status", autoWidth: false, className: "no-wrap text-center" },
                    { data: "created", autoWidth: false, className: "no-wrap text-center" },
                     {
                         className: "text-center",  data: function (data) {
                             var btn = `<a style="color:var(--primary)" class="tooltipped btn btn-xs waves-effect secondary-button blue-ina" href="@URLActualizar?id=${data.id}"><b><i class="align-middle fas fa-fw fa-edit mr-2"></i></b></a>&nbsp;&nbsp;`;
                             btn += `<a style="color:var(--primary)" class="tooltipped btn btn-xs waves-effect secondary-button blue-ina" href="@URLSesiones?id=${data.id}"><b><i class="align-middle fas fa-fw fa-eye mr-2"></i></b></a>&nbsp;&nbsp;`;
                               return btn;
                            }
                     }
                ]
            });
        });
    </script>
}