
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
    string URLAgregar = Url.Action("Create", "Incident");
    string URLActualizar = Url.Action("Edit", "Incident");
    string URLSesiones = Url.Action("Index", "Sesion");
}

<div>
    <nav>
        <div class="nav nav-tabs nav-fill" id="nav-tab" role="tablist">
            <a class="nav-item nav-link active" id="nav-home-tab" data-toggle="tab" href="#nav-home" role="tab" aria-controls="nav-home" aria-selected="true">SIN ATENDER</a>
            <a class="nav-item nav-link" id="nav-profile-tab" data-toggle="tab" href="#nav-profile" role="tab" aria-controls="nav-profile" aria-selected="false">PROCESO</a>
            <a class="nav-item nav-link" id="nav-contact-tab" data-toggle="tab" href="#nav-contact" role="tab" aria-controls="nav-contact" aria-selected="false">FINALIZADO</a>
        </div>
    </nav>
    <div class="tab-content py-3 px-3 px-sm-0" id="nav-tabContent">
        <div class="tab-pane fade show active" id="nav-home" role="tabpanel" aria-labelledby="nav-home-tab">
            <div class="card shadow mb-4">
                <div class="card-header py-3 j-df j-color-text j-jc-center">
                    <h2><i class="fas fa-archive">&nbsp;&nbsp;</i> SIN ATENDER</h2>
                </div>

                <div class="card-body">
                    <div class="row my-4">

                        <div class="col-sm-12">
                            <a href="@URLAgregar" class="btn btn-primary">Agregar</a>
                            <hr />

                            <table class="table-bordered w-100" id="incidentesCreados">

                                <thead>

                                    <tr>
                                        <th><font color="white">USUARIO</font></th>
                                        <th><font color="white">TEMA</font></th>
                                        <th><font color="white">PRIORIDAD</font></th>
                                        <th><font color="white">ESTATUS</font></th>
                                        <th><font color="white">CREADA</font></th>
                                        <th><font color="white">ACCIONES</font></th>
                                    </tr>

                                </thead>

                                <tbody>
                                    <tr>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="tab-pane fade" id="nav-profile" role="tabpanel" aria-labelledby="nav-profile-tab">


            <div class="card shadow mb-4">
                <div class="card-header py-3 j-df j-color-text j-jc-center">
                    <h2><i class="fas fa-archive">&nbsp;&nbsp;</i> EN PROCESO</h2>
                </div>

                <div class="card-body">
                    <div class="row my-4">

                        <div class="col-sm-12">

                            <hr />

                            <table class="table-bordered w-100" id="incidentesEnProceso">

                                <thead>

                                    <tr>
                                        <th><font color="white">USUARIO</font></th>
                                        <th><font color="white">TEMA</font></th>
                                        <th><font color="white">PRIORIDAD</font></th>
                                        <th><font color="white">ESTATUS</font></th>
                                        <th><font color="white">CREADA</font></th>
                                        <th><font color="white">ACCIONES</font></th>
                                    </tr>

                                </thead>

                                <tbody>
                                    <tr>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>

        </div>
        <div class="tab-pane fade" id="nav-contact" role="tabpanel" aria-labelledby="nav-contact-tab">

            <div class="card shadow mb-4">
                <div class="card-header py-3 j-df j-color-text j-jc-center">
                    <h2><i class="fas fa-archive">&nbsp;&nbsp;</i> FINALIZADOS</h2>
                </div>

                <div class="card-body">
                    <div class="row my-4">

                        <div class="col-sm-12">


                            <hr />

                            <table class="table-bordered w-100" id="incidentesFinalizado">

                                <thead>

                                    <tr>
                                        <th><font color="white">USUARIO</font></th>
                                        <th><font color="white">TEMA</font></th>
                                        <th><font color="white">PRIORIDAD</font></th>
                                        <th><font color="white">ESTATUS</font></th>
                                        <th><font color="white">CREADA</font></th>
                                        <th><font color="white">ACCIONES</font></th>
                                    </tr>

                                </thead>

                                <tbody>
                                    <tr>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>





@section scripts{
    <script src="~/lib/datatable/js/jquery.dataTables.js"></script>
    <script src="~/lib/datatable/js/dataTables.bootstrap4.js"></script>
    <script src="~/lib/datatable-responsive/js/dataTables.responsive.min.js"></script>
    <script src="~/lib/datatable-responsive/js/responsive.bootstrap4.min.js"></script>
    <script src="~/lib/datatable/js/dataTables.buttons.min.js"></script>
    <link href="~/lib/datatable/css/jquery.dataTables.css" rel="stylesheet" />
    <script>
        $(document).ready(function () {
            $("#incidentesCreados").DataTable().destroy();
            $("#incidentesEnProceso").DataTable().destroy();
            $("#incidentesFinalizado").DataTable().destroy();

            var urlMetodo = "./Incident/GetAllIndex?tab=Sin atender";
                    $("#incidentesCreados").DataTable({

                    ajax: {
                        url: urlMetodo,
                        type: "GET",
                        datatype: "json"
                    },
                    responsive: true,
                    language: {
                        "sProcessing": "Procesando...",
                        "sLengthMenu": "Mostrar _MENU_ registros",
                        "sZeroRecords": "No se encontraron resultados",
                        "sEmptyTable": "Ningún dato disponible en esta tabla",
                        "sInfo": "Mostrando registros del _START_ al _END_ de un total de _TOTAL_ registros",
                        "sInfoEmpty": "Mostrando registros del 0 al 0 de un total de 0 registros",
                        "sInfoFiltered": "(filtrado de un total de _MAX_ registros)",
                        "sInfoPostFix": "",
                        "sSearch": "Buscar:",
                        "sUrl": "",
                        "sInfoThousands": ",",
                        "sLoadingRecords": "Cargando...",
                        "oPaginate": {
                            "sFirst": "Primero",
                            "sLast": "Último",
                            "sNext": "Siguiente",
                            "sPrevious": "Anterior"
                        },
                        "oAria": {
                            "sSortAscending": ": Activar para ordenar la columna de manera ascendente",
                            "sSortDescending": ": Activar para ordenar la columna de manera descendente"
                        }
                    },
                    columns: [
                        { data: "user", autoWidth: false, className: "no-wrap text-center" },
                        { data: "theme", autoWidth: false, className: "no-wrap text-center" },
                        { data: "priority", autoWidth: false, className: "no-wrap text-center" },
                        { data: "status", autoWidth: false, className: "no-wrap text-center" },
                        { data: "created", autoWidth: false, className: "no-wrap text-center" },
                         {
                             className: "text-center",  data: function (data) {
                                 var btn = `<a style="color:var(--primary)" class="tooltipped btn btn-xs waves-effect secondary-button blue-ina" href="@URLSesiones?id=${data.id}"><b><i class="align-middle fas fa-fw fa-eye mr-2"></i></b></a>&nbsp;&nbsp;`;
                                   return btn;
                                }
                         }
                    ]
                })


            $("#nav-home-tab").click(function () {
                $("#incidentesCreados").DataTable().destroy();
                var urlMetodo = "./Incident/GetAllIndex?tab=Sin atender";
                    $("#incidentesCreados").DataTable({

                    ajax: {
                        url: urlMetodo,
                        type: "GET",
                        datatype: "json"
                    },
                    responsive: true,
                    language: {
                        "sProcessing": "Procesando...",
                        "sLengthMenu": "Mostrar _MENU_ registros",
                        "sZeroRecords": "No se encontraron resultados",
                        "sEmptyTable": "Ningún dato disponible en esta tabla",
                        "sInfo": "Mostrando registros del _START_ al _END_ de un total de _TOTAL_ registros",
                        "sInfoEmpty": "Mostrando registros del 0 al 0 de un total de 0 registros",
                        "sInfoFiltered": "(filtrado de un total de _MAX_ registros)",
                        "sInfoPostFix": "",
                        "sSearch": "Buscar:",
                        "sUrl": "",
                        "sInfoThousands": ",",
                        "sLoadingRecords": "Cargando...",
                        "oPaginate": {
                            "sFirst": "Primero",
                            "sLast": "Último",
                            "sNext": "Siguiente",
                            "sPrevious": "Anterior"
                        },
                        "oAria": {
                            "sSortAscending": ": Activar para ordenar la columna de manera ascendente",
                            "sSortDescending": ": Activar para ordenar la columna de manera descendente"
                        }
                    },
                    columns: [
                        { data: "user", autoWidth: false, className: "no-wrap text-center" },
                        { data: "theme", autoWidth: false, className: "no-wrap text-center" },
                        { data: "priority", autoWidth: false, className: "no-wrap text-center" },
                        { data: "status", autoWidth: false, className: "no-wrap text-center" },
                        { data: "created", autoWidth: false, className: "no-wrap text-center" },
                         {
                             className: "text-center",  data: function (data) {
                                 var btn =  `<a style="color:var(--primary)" class="tooltipped btn btn-xs waves-effect secondary-button blue-ina" href="@URLSesiones?id=${data.id}"><b><i class="align-middle fas fa-fw fa-eye mr-2"></i></b></a>&nbsp;&nbsp;`;
                                   return btn;
                                }
                         }
                    ]
                })
            });

            $("#nav-profile-tab").click(function () {
                var urlMetodo2 = "./Incident/GetAllIndex?tab=En proceso";
                    $("#incidentesEnProceso").DataTable().destroy();
                $("#incidentesEnProceso").DataTable({

                    ajax: {
                        url: urlMetodo2,
                        type: "GET",
                        datatype: "json"
                    },
                    responsive: true,
                    language: {
                        "sProcessing": "Procesando...",
                        "sLengthMenu": "Mostrar _MENU_ registros",
                        "sZeroRecords": "No se encontraron resultados",
                        "sEmptyTable": "Ningún dato disponible en esta tabla",
                        "sInfo": "Mostrando registros del _START_ al _END_ de un total de _TOTAL_ registros",
                        "sInfoEmpty": "Mostrando registros del 0 al 0 de un total de 0 registros",
                        "sInfoFiltered": "(filtrado de un total de _MAX_ registros)",
                        "sInfoPostFix": "",
                        "sSearch": "Buscar:",
                        "sUrl": "",
                        "sInfoThousands": ",",
                        "sLoadingRecords": "Cargando...",
                        "oPaginate": {
                            "sFirst": "Primero",
                            "sLast": "Último",
                            "sNext": "Siguiente",
                            "sPrevious": "Anterior"
                        },
                        "oAria": {
                            "sSortAscending": ": Activar para ordenar la columna de manera ascendente",
                            "sSortDescending": ": Activar para ordenar la columna de manera descendente"
                        }
                    },
                    columns: [
                        { data: "user", autoWidth: false, className: "no-wrap text-center" },
                        { data: "theme", autoWidth: false, className: "no-wrap text-center" },
                        { data: "priority", autoWidth: false, className: "no-wrap text-center" },
                        { data: "status", autoWidth: false, className: "no-wrap text-center" },
                        { data: "created", autoWidth: false, className: "no-wrap text-center" },
                         {
                             className: "text-center",  data: function (data) {
                                 var btn = `<a style="color:var(--primary)" class="tooltipped btn btn-xs waves-effect secondary-button blue-ina" href="@URLSesiones?id=${data.id}"><b><i class="align-middle fas fa-fw fa-eye mr-2"></i></b></a>&nbsp;&nbsp;`;
                                   return btn;
                                }
                         }
                    ]
                })
            });

            $("#nav-contact-tab").click(function () {
                var urlMetodo3 = "./Incident/GetAllIndex?tab=Finalizado";
                $("#incidentesFinalizado").DataTable().destroy();
                    $("#incidentesFinalizado").DataTable({

                        ajax: {
                            url: urlMetodo3,
                            type: "GET",
                            datatype: "json"
                        },
                        responsive: true,
                        language: {
                            "sProcessing": "Procesando...",
                            "sLengthMenu": "Mostrar _MENU_ registros",
                            "sZeroRecords": "No se encontraron resultados",
                            "sEmptyTable": "Ningún dato disponible en esta tabla",
                            "sInfo": "Mostrando registros del _START_ al _END_ de un total de _TOTAL_ registros",
                            "sInfoEmpty": "Mostrando registros del 0 al 0 de un total de 0 registros",
                            "sInfoFiltered": "(filtrado de un total de _MAX_ registros)",
                            "sInfoPostFix": "",
                            "sSearch": "Buscar:",
                            "sUrl": "",
                            "sInfoThousands": ",",
                            "sLoadingRecords": "Cargando...",
                            "oPaginate": {
                                "sFirst": "Primero",
                                "sLast": "Último",
                                "sNext": "Siguiente",
                                "sPrevious": "Anterior"
                            },
                            "oAria": {
                                "sSortAscending": ": Activar para ordenar la columna de manera ascendente",
                                "sSortDescending": ": Activar para ordenar la columna de manera descendente"
                            }
                        },
                        columns: [
                            { data: "user", autoWidth: false, className: "no-wrap text-center" },
                            { data: "theme", autoWidth: false, className: "no-wrap text-center" },
                            { data: "priority", autoWidth: false, className: "no-wrap text-center" },
                            { data: "status", autoWidth: false, className: "no-wrap text-center" },
                            { data: "created", autoWidth: false, className: "no-wrap text-center" },
                             {
                                 className: "text-center",  data: function (data) {
                                     var btn =  `@*<a style="color:var(--primary)" class="tooltipped btn btn-xs waves-effect secondary-button blue-ina" href="@URLSesiones?id=${data.id}"><b><i class="align-middle fas fa-fw fa-eye mr-2"></i></b></a>&nbsp;&nbsp;*@`;
                                       return btn;
                                    }
                             }
                        ]
                        })
           });

        });
    </script>
}
<style>

    .table-bordered {
        color: #463f57;
        background-color: #004aad;
        border-color: #463f57;
    }

    .btn-primary {
        color: #FCFCFF;
        background-color: #463f57;
        border-color: #463f57;
    }

    .fa-building {
        color: #463f57;
    }

    .j-color-text {
        color: #463f57;
    }
</style>