@model FrontEnd.Models.RegisterViewModel

@{
    ViewData["Title"] = "Register";
    Layout = "~/Views/Shared/_Layout.cshtml";

    var URLgetPadronData = Url.Action("GetPadronData", "Account");
}

@section styles {
    <style>
        .btn-primary {
            color: #FCFCFF;
            background-color: #004aad;
            border-color: #1313A8;
        }

        .card-header {
            color: #FCFCFF;
            background-color: #004aad;
        }

        .card-body {
            color: #463f57;
        }

        .input-group-text {
            color: #FCFCFF;
            background-color: #004aad;
            border-color: #1313A8;
        }

        .input-group-prepend {
            margin-left: 15%
        }

        .submit {
            margin-left: 20%
        }

        #loader {
            background-color: rgba(0,0,0,0.8);
        }
    </style>
}

<div class="container" width="850%">
    <div class="d-flex justify-content-around h-100">
        <div class="card badge-light text-white" style="width: 40rem">
            <div class="card-header">
                <div class="row">
                    <div class="col-12 text-center">
                        <h3>Crear Usuario</h3>
                    </div>
                </div>

            </div>

            <div class="card-body">


                <form asp-action="Register" method="post">

                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <div class="form-group">
                        <label asp-for="DocumentNumber" class="control-label"></label>
                        <input asp-for="DocumentNumber" class="form-control" style="width: 30rem" maxlength="9"/>
                        <span asp-validation-for="DocumentNumber" class="text-danger"></span>
                    </div>

                    <div class="form-group">
                        <label asp-for="Name" class="control-label"></label>
                        <input asp-for="Name" class="form-control" style="width: 30rem" />
                        <span asp-validation-for="Name" class="text-danger"></span>
                    </div>

                    <div class="form-group">
                        <label asp-for="LastName" class="control-label"></label>
                        <input asp-for="LastName" class="form-control" style="width: 30rem" />
                        <span asp-validation-for="LastName" class="text-danger"></span>
                    </div>

                    <div class="form-group">
                        <label asp-for="Email" class="control-label"></label>
                        <input asp-for="Email" class="form-control" style="width: 30rem" />
                        <span asp-validation-for="Email" class="text-danger"></span>
                    </div>

                    <div class="form-group">
                        <label asp-for="Password" class="control-label">Contraseña</label>
                        <input asp-for="Password" class="form-control" style="width: 30rem" />
                        <span asp-validation-for="Password" class="text-danger"></span>
                    </div>

                    <div class="form-group">
                        <label asp-for="ComfirmPassword" class="control-label">Confirmar Contraseña</label>
                        <input asp-for="ComfirmPassword" class="form-control" style="width: 30rem" />
                        <span asp-validation-for="ComfirmPassword" class="text-danger"></span>
                    </div>

                    <div class="form-group">
                        <label asp-for="UserRoles" class="control-label"></label>
                        @Html.DropDownListFor(model => model.UserRoles, (SelectList)ViewBag.Name, "Seleccione uno", new { @class = "form-control", @style = "width:80%;" })
                        <span asp-validation-for="UserRoles" class="text-danger" style="width: 30rem"></span>
                    </div>

                    <div class="form-group">
                        <label asp-for="DepartmentId" class="control-label"></label>
                        @Html.DropDownListFor(model => model.DepartmentId, (SelectList)ViewBag.Departments, "Seleccione uno", new { @class = "form-control", @style = "width:80%;" })
                        <span asp-validation-for="DepartmentId" class="text-danger" style="width: 30rem"></span>
                    </div>

                    <div class="form-group">
                        <center>
                            <input type="submit" value="Registrar" class="btn btn-primary" aling="center" />
                            <a href="~/Home/Index" class="btn btn-danger" style=" width:15%">Cancelar</a>
                        </center>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

<div class="min-vh-100 vh-100 fixed-top d-none" id="loader">
    <div class="h-100 d-flex justify-content-center align-items-md-center">
        <p class="text-white">Please wait...</p>
    </div>
</div>


@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}

    <script>
        var $documentNumberInput = $("#DocumentNumber");
        var $nameInput = $("#Name");
        var $lastNameInput = $("#LastName");
        var $loader = $("#loader");
        var $emailInput = $("#Email");

        $documentNumberInput.change(function (e) {
            e.preventDefault(e);

            let element = $(this);
            let value = element.val();

            if (value.length < 9) return;

            $loader.removeClass("d-none");

            $.post("@URLgetPadronData", { id: value }, function (data) {
                if (data) {
                    $nameInput.val(data.nombre);
                    $nameInput.attr("readonly", true);

                    $lastNameInput.val(`${data.primerApellido} ${data.segundoApellido}`);
                    $lastNameInput.attr("readonly", true);

                    $emailInput.val(data.correo);

                    $emailInput.focus();
                } else {
                    $nameInput.val(``);
                    $nameInput.attr("readonly", false);

                    $lastNameInput.val(``);
                    $lastNameInput.attr("readonly", false);

                    $nameInput.focus();
                }

                $loader.addClass("d-none");
            });
        });
    </script>
}
