@{
    string LogOut = Url.Action("Logout", "Account");
    string ChangePassword = Url.Action("ChangePassword", "Account");
}

<nav class="navbar navbar-expand navbar-light topbar mb-4 static-top shadow">
    <button id="sidebarToggleTop" class="btn btn-link d-md-none rounded-circle mr-3">
        <i class="fa fa-bars"></i>
    </button>

    @*<form class="d-none d-sm-inline-block form-inline mr-auto ml-md-3 my-2 my-md-0 mw-100 navbar-search">
            <div class="input-group">
                <input type="text" class="form-control bg-light border-0 small" placeholder="Search for..."
                       aria-label="Search" aria-describedby="basic-addon2">
                <div class="input-group-append">
                    <button class="btn btn-primary" type="button">
                        <i class="fas fa-search fa-sm"></i>
                    </button>
                </div>
            </div>
        </form>*@

    <ul class="navbar-nav ml-auto">
        <li class="nav-item dropdown no-arrow d-sm-none">
            @*<a class="nav-link dropdown-toggle" href="#" id="searchDropdown" role="button"
                   data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    <i class="fas fa-search fa-fw"></i>
                </a>*@

            @*<div class="dropdown-menu dropdown-menu-right p-3 shadow animated--grow-in"
                     aria-labelledby="searchDropdown">
                    <form class="form-inline mr-auto w-100 navbar-search">
                        <div class="input-group">
                            <input type="text" class="form-control bg-light border-0 small"
                                   placeholder="Search for..." aria-label="Search"
                                   aria-describedby="basic-addon2">
                            <div class="input-group-append">
                                <button class="btn btn-primary" type="button">
                                    <i class="fas fa-search fa-sm"></i>
                                </button>
                            </div>
                        </div>
                    </form>
                </div>*@
        </li>

        <li class="nav-item dropdown no-arrow mx-1">
            <a class="nav-link dropdown-toggle" href="#" id="alertsDropdown" role="button"
               data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" notification-alert>
                <i class="fas fa-bell fa-fw"></i>
                <span class="badge badge-danger badge-counter" id="notification-counter">0</span>
            </a>

            <div class="dropdown-list dropdown-menu dropdown-menu-right shadow animated--grow-in"
                 aria-labelledby="alertsDropdown">
                <h6 class="dropdown-header">
                    Alerts Center
                    <i class="fas fa-trash float-right pointer" id="remove-notification-items" title="Remove notifications"></i>
                </h6>

                <div id="notification-items">

                </div>
            </div>
        </li>

        <div class="topbar-divider d-sm-block"> </div>

        <li class="nav-item dropdown no-arrow">
            <a class="nav-link dropdown-toggle" href="#" id="userDropdown" role="button"
               data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <span class="mr-2 d-lg-inline j-color-text small">@User.Identity.Name</span>
                @*<img class="img-profile rounded-circle"
                    src="img/undraw_profile.svg">*@
            </a>
            <div class="dropdown-menu dropdown-menu-right shadow animated--grow-in j-bg-black"
                 aria-labelledby="userDropdown">
                <a class="dropdown-item" href="@ChangePassword">
                    <i class="fas fa-user fa-sm fa-fw mr-2 text-gray-400"></i>
                    Cambiar Contraseña
                </a>

                @*@<a class="dropdown-item" href="#">
                        <i class="fas fa-cogs fa-sm fa-fw mr-2 text-gray-400"></i>
                        Settings
                    </a>

                    <a class="dropdown-item" href="#">
                        <i class="fas fa-list fa-sm fa-fw mr-2 text-gray-400"></i>
                        Activity Log
                    </a>*@

                <div class="dropdown-divider"></div>


                <form action="/Account/LogOff" id="logoutForm" method="post">
                    @Html.AntiForgeryToken()
                    <a class="dropdown-item" id="btn-modal" data-toggle="modal" data-target="#logoutModal">
                        <i class="fas fa-sign-out-alt fa-sm fa-fw mr-2 text-gray-400"></i>
                        Cerrar Sesión
                    </a>
                </form>

            </div>
        </li>
    </ul>

</nav>
@*<div class="row div_centrado">
    <div class="col-md-12">
        <div class="modal fade" id="logoutModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
             aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">Cerrar Sesión</h5>
                        <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">×</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        ¿Está seguro de que desea cerrar su sesión?
                    </div>
                    <div class="modal-footer">
                        <button class="btn btn-secondary" type="button" data-dismiss="modal">Cancel</button>
                        <a class="btn btn-primary" href="@LogOut">Comfirmar</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>*@

<style>
    .modal-backdrop {
        z-index: 0;
    }

    .div_centrado {
        position: absolute !important;
        bottom: 0 !important;
        right: 30% !important;
        left: 40%;
        top: 10%;
        bottom: 65% !important;
    }
</style>


