@model IEnumerable<FrontEnd.Models.Status.StatusViewModel>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
    string URLAgregar = Url.Action("Create", "Status");
    string URLActualizar = Url.Action("Edit", "Status");
}

<div class="container">
    <div class="card shadow mb-4">
        <div class="card-header py-3 j-df j-color-text j-jc-center">
            <h2><i class="fas fa-address-book">&nbsp;&nbsp;</i> ESTATUS</h2>
        </div>

        <div class="card-body">
            <div class="row my-4">

                <div class="col-sm-12">
                    <a href="@URLAgregar" class="btn btn-primary">Agregar</a>

                    <hr />

                    <table class="table-bordered w-100" id="priority">

                        <thead>

                            <tr>
                                <th><font color="white">ID</font></th>
                                <th><font color="white">PRIORIDAD</font></th>
                                <th><font color="white">ACCIONES</font></th>
                            </tr>

                        </thead>

                        <tbody>
                            <tr>
                                <td></td>
                                <td></td>
                                <td></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>


    </div>
</div>

@section scripts{
    <script src="~/lib/datatable/js/jquery.dataTables.js"></script>
    <script src="~/lib/datatable/js/dataTables.bootstrap4.js"></script>
    <script src="~/lib/datatable-responsive/js/dataTables.responsive.min.js"></script>
    <script src="~/lib/datatable-responsive/js/responsive.bootstrap4.min.js"></script>
    <script src="~/lib/datatable/js/dataTables.buttons.min.js"></script>
    <link href="https://cdn.datatables.net/1.10.24/css/jquery.dataTables.min.css" rel="stylesheet" />

    <script>
        $(document).ready(function () {
            $("#priority").DataTable().destroy();

            var urlMetodo = "/Status/GetAllIndex";
            $("#priority").DataTable({

                ajax: {
                    url: urlMetodo,
                    type: "GET",
                    datatype: "json"
                },
                responsive: true,
                language: {
                    "sProcessing": "Procesando...",
                    "sLengthMenu": "Mostrar _MENU_ registros",
                    "sZeroRecords": "No se encontraron resultados",
                    "sEmptyTable": "Ningún dato disponible en esta tabla",
                    "sInfo": "Mostrando registros del _START_ al _END_ de un total de _TOTAL_ registros",
                    "sInfoEmpty": "Mostrando registros del 0 al 0 de un total de 0 registros",
                    "sInfoFiltered": "(filtrado de un total de _MAX_ registros)",
                    "sInfoPostFix": "",
                    "sSearch": "Buscar:",
                    "sUrl": "",
                    "sInfoThousands": ",",
                    "sLoadingRecords": "Cargando...",
                    "oPaginate": {
                        "sFirst": "Primero",
                        "sLast": "Último",
                        "sNext": "Siguiente",
                        "sPrevious": "Anterior"
                    },
                    "oAria": {
                        "sSortAscending": ": Activar para ordenar la columna de manera ascendente",
                        "sSortDescending": ": Activar para ordenar la columna de manera descendente"
                    }
                },
                columns: [
                    { data: "id", autoWidth: false, className: "no-wrap text-center" },
                    { data: "description", autoWidth: false, className: "no-wrap text-center" },
                     {
                         className: "text-center",  data: function (data) {
                             var btn = `<a style="color:var(--primary)" class="tooltipped btn btn-xs waves-effect secondary-button blue-ina" href="@URLActualizar?id=${data.id}"><b><i class="align-middle fas fa-fw fa-edit mr-2"></i></b></a>&nbsp;&nbsp;`;
                               return btn;
                            }
                     }
                ]
            });
        });
    </script>
}
<style>

    .table-bordered {
        color: #463f57;
        background-color: #004aad;
        border-color: #463f57;
    }

    .btn-primary {
        color: #FCFCFF;
        background-color: #463f57;
        border-color: #463f57;
    }

    .fa-building {
        color: #463f57;
    }

    .j-color-text {
        color: #463f57;
    }
</style>