@{
    ViewData["Title"] = "Home Page";
}

@*IMPORTANTE: Cambió la palabra Welcome y se comentó  la leyenda de .net para que no salga en el inicio*@

<div class="text-center">
    <h1 class="display-4">Bienvenido</h1>
    @* <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p> *@

   <img src="~/img//Logo.jpg" width="500" height="500">
</div>
